<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<h:head>
	<title>Zarządzanie klientami</title>
	<f:metadata>
		<f:viewParam name="id" value="#{facesCustomerBean.id}" />
	</f:metadata>
</h:head>
<h:body>
	<h1>Zarządzanie klientem</h1>
	<h3>
		#{facesCustomerBean.customerName} <br />
		#{facesCustomerBean.customerStreet} <br />
		#{facesCustomerBean.customerZipCode} #{facesCustomerBean.customerCity}
		<br /> #{facesCustomerBean.customerPhone}
	</h3>
	<h:button outcome="editCustomer" value="Edycja">
		<f:param name="id" value="#{facesCustomerBean.id}" />
	</h:button><br/>
	<h:button outcome="orders" value="Historia zamówień">
		<f:param name="customerId" value="#{facesCustomerBean.id}" />
	</h:button><br/>
	<h:button outcome="editOrder" value="Nowe zamówienie" >
		<f:param name="customerId" value="#{facesCustomerBean.id}" />
	</h:button>
</h:body>

</html>