<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<h:head>
	<title>Zarządzanie klientami</title>
</h:head>
<h:body>
	<h1>Zarządzanie klientami</h1>
			<h2>Lista klientów</h2>
			<h:dataTable value="#{facesCustomersBean.customers}" var="customer"
				border="7" cellpadding="3" title="Tabela klientów">
				<h:column>
					<f:facet name="header">Numer</f:facet>
					#{customer.id}.
				</h:column>
				<h:column>
					<f:facet name="header">Imię i nazwisko</f:facet>
					<h:link value="#{customer.name}" outcome="customer"
						includeViewParams="true">
						<f:param name="id" value="#{customer.id}" />
					</h:link>
				</h:column>
			</h:dataTable>
<!-- 			<h:button value="Dodaj nowego" outcome="editCustomer"> -->
<!-- 				<f:param name="action" value="add" /> -->
<!-- 			</h:button> -->
</h:body>

</html>