<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<h:head>
	<title>Zarządzanie zamówieniem klienta</title>
	<f:metadata>
		<f:viewParam name="id" value="#{facesOrderBean.id}" />
		<f:viewParam name="customerId" value="#{facesOrderBean.customerId}"/>
		<f:viewParam name="equipmentId" value="#{facesOrderBean.equipmentId}"/>
	</f:metadata>
</h:head>
<h:body>
	<h1>Zarządzanie zamówieniem klienta</h1>
	<h:form>
		<h:inputHidden value="id" />
		<h:selectOneMenu value="#{facesOrderBean.customerId}">
			<f:selectItems value="#{facesCustomersBean.customersSelectItemList}" />
		</h:selectOneMenu>
		<h:selectOneMenu value="#{facesOrderBean.equipmentId}">
			<f:selectItems value="#{facesEquipmentBean.equipmentSelectItemList}" />
		</h:selectOneMenu>
		<h:commandButton value="Zapisz"
			action="#{facesOrderBean.save}" />
	</h:form>
</h:body>

</html>