<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<h:head>
	<title>Zarządzanie klientami</title>
	<f:metadata>
		<f:viewParam name="id" value="#{facesCustomerBean.id}" />
	</f:metadata>
</h:head>
<h:body>
	<h1>Zarządzanie klientem</h1>
	<h:form>
		<h:inputHidden value="id" />
		<h:inputText value="#{facesCustomerBean.customerName}" />
		<br />
		<h:inputText value="#{facesCustomerBean.customerStreet}" />
		<br />
		<h:inputText value="#{facesCustomerBean.customerZipCode}" size="6" />
		<h:inputText value="#{facesCustomerBean.customerCity}" size="10" />
		<br />
		<h:inputText value="#{facesCustomerBean.customerPhone}" /> <br/>
		<h:commandButton action="#{facesCustomerBean.save}" value="Zapisz"/>
	</h:form>
</h:body>

</html>