<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<f:metadata>
	<f:viewParam name="action" value="#{facesEquipmentBean.action}" />
	<f:viewParam name="id" value="#{facesEquipmentBean.id}" />
</f:metadata>

<h:head>
	<title>Zarządzanie sprzętem</title>
</h:head>
<h:body>
	<h1>Zarządzanie sprzętem</h1>
	<div style="display: flex; justify-content: space-evenly;">
		<div>
			<h2>Lista sprzętu</h2>
			<h:dataTable value="#{facesEquipmentBean.equipmentList}"
				var="equipment" border="7" cellpadding="3" title="Tabela sprzętu">
				<h:column>
					<f:facet name="header">Numer</f:facet>
					#{equipment.id}.
				</h:column>
				<h:column>
					<f:facet name="header">Nazwa</f:facet>
					<h:link value="#{equipment.name}" outcome="equipment"
						includeViewParams="true">
						<f:param name="action" value="view" />
						<f:param name="id" value="#{equipment.id}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">Dostępny</f:facet>
					<h:selectBooleanCheckbox value="#{equipment.available}"
						disabled="true" />
				</h:column>
			</h:dataTable>
			<h:button value="Dodaj nowy" outcome="equipment">
				<f:param name="action" value="add" />
			</h:button>
		</div>
		<div jsf:rendered="#{facesEquipmentBean.viewAction}">
			<h2>Detale sprzętu</h2>
			#{facesEquipmentBean.equipment.name}<br />
			<h:button value="Edytuj" outcome="equipment">
				<f:param name="action" value="edit" />
				<f:param name="id" value="#{facesEquipmentBean.equipment.id}" />
			</h:button>
		</div>
		<h:form rendered="#{facesEquipmentBean.displayForm}">
			<h2>Detale sprzętu</h2>
			<h:inputHidden value="#{facesEquipmentBean.equipment.id}" />
			<h:inputText value="#{facesEquipmentBean.equipment.name}" size="25" />
			<br />
			<h:commandButton value="Zapisz" action="#{facesEquipmentBean.save}" />
		</h:form>
	</div>
</h:body>

</html>