<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Strona główna</title>
</h:head>
<h:body>
	<h1><h:link outcome="customers">Zarządzanie klientami</h:link></h1>
	<h1><h:link outcome="equipment">Zarządzanie sprzętem</h:link></h1>
</h:body>

</html>