<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<f:metadata>
	<f:viewParam name="customerId" value="#{facesOrdersBean.customerId}" />
</f:metadata>

<h:head>
	<title>Historia zamówień</title>
</h:head>
<h:body>
	<h1>Historia zamówień</h1>
	<h:dataTable value="#{facesOrdersBean.orders}" var="order" border="7"
		cellpadding="3" title="Historia zamówień">
		<h:column>
			<f:facet name="header">Numer</f:facet>
			<h:link value="#{order.id}." outcome="order"
				includeViewParams="true">
				<f:param name="id" value="#{order.id}" />
			</h:link>
		</h:column>
		<h:column>
			<f:facet name="header">Imię i nazwisko</f:facet>
			#{order.customer.name}
		</h:column>
		<h:column>
			<f:facet name="header">Data złożenia</f:facet>
			#{order.startDate}
		</h:column>
		<h:column>
			<f:facet name="header">Data oddania</f:facet>
			#{order.endDate}
		</h:column>
	</h:dataTable>
</h:body>
</html>
