<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<h:head>
	<title>Zarządzanie zamówieniem klienta</title>
	<f:metadata>
		<f:viewParam name="id" value="#{facesOrderBean.id}" />
	</f:metadata>
</h:head>
<h:body>
	<h1>Zarządzanie zamówieniem klienta</h1>
	<h3>
		Numer: #{facesOrderBean.id} <br /> 
		Imię i nazwisko: #{facesOrderBean.customerName} <br />
		Data wypożyczenia: #{facesOrderBean.startDate} <br />
		Data zwrotu: #{facesOrderBean.endDate} <br /> 
		Nazwa sprzętu: #{facesOrderBean.equipmentName} <br />
	</h3>
	<h:button outcome="editOrder" value="Edycja" rendered="#{facesOrderBean.endDate == null}">
		<f:param name="id" value="#{facesOrderBean.id}" />
	</h:button>
	<br />
	<h:form rendered="#{facesOrderBean.endDate == null}">
		<h:commandButton action="#{facesOrderBean.finish(facesOrderBean.id)}"
			value="Przyjmij zwrot zamówienia" />
	</h:form>
</h:body>
</html>